*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-padding: 4.3rem;
    scroll-behavior: smooth;
}
/* -------------------- navbar CSS -------------------*/
.navbar{
    padding-top: 7px;
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-brand{
    margin-left: 60px;
    font-weight: bold;
    font-size: 35px;
    color: white;
    transition: 0.5s ease;
}
.navbar-toggler{
    background-color: white;
    margin-right:15px;
    padding: 0px 4px;
    border: 2px solid red;
}
.navbar-toggler-icon{
    background-image: none;
}
.navbar-toggler-icon .fa-xmark{
    display: none;
}
.navbar-nav{
    margin-right: 50px;
}
.nav-item{
    margin: 0px 10px;
}
.nav-link{
    color: #d9d9d9;
    font-weight: bold;
    transition: 0.5s ease;
    position: relative;
    font-size: 18px;
    font-family: 'poppins',sans-serif;
    letter-spacing: 0.5px;
}
.navbar-brand:hover{
    color: red;
}
.nav-link:hover{
    color: white;
}
.nav-link::after{
    content:'';
    width: 0%;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom:3px;
    left: 0px;
    transition: 0.5s ease;
}
.nav-link:hover::after{
    width: 100%;
}

/* ------------------- Slider CSS -------------------------*/

#banner{
    height: 100vh;
    background-image: url(../Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
}

/* ------------------ About CSS -------------------------- */

/* ----------------- Services CSS ---------------------- */
.card{
    background-color: #f2f2f2;
    border: none;
}
.card-row2{
    margin-top: 33px;
}
.card:hover{
    border: 0px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 15px rgb(183, 183, 183);
}
.link{
    text-decoration: none;
    color: #716565;
}
.service-icon{
    font-size: 40px;
    margin-bottom: 12px;
}
.project{
    height: 350px;
    background-color: #f2f2f2;
    border: 1px solid rgb(223, 220, 220);
    margin: 15px 15px;
}
.project:hover{
    box-shadow: 0px 0px 12px 1px rgb(97, 96, 96);
    /* box-shadow: 0px 0px 12px 1px rgba(153,153,153,1); */
    cursor: pointer;
}
.web-design{
    background-image: url(../Images/web-design.jpg);
    background-position: center;
    background-size: cover;
}
.web-development{
    background-image: url(../Images/web-development.jpg);
    background-position: center;
    background-size: cover;
}
.ecommerce-development{
    background-image: url(../Images/Ecommerce-Website-Development.png);
    background-position: center;
    background-size: cover;
}
.android-development{
    background-image: url(../Images/android-development.jpg);
    background-position: right;
    background-size: cover;
}
/* ---------------- Contact CSS ----------------------- */

.map{
    padding: 0px;
}
iframe{
    height: 400px;
    width: 100%;
    box-shadow: 0px 0px 12px 1px rgba(153,153,153,1);
}
.form{
    border: 0px solid rgb(206, 212, 218);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 12px 1px rgba(153,153,153,1);
    background-color: #f2f2f2;
}
.location{
    justify-content: space-between;
}

@media screen and (max-width:900px){
    .navbar-brand{
        margin-left: 20px;
        font-size: 25px;
    }
    .wrapper h4{
        text-align: center;
    }
    .card{
        margin-bottom: 20px;
    }
    .card-row2{
        margin-top: 0px;
    }
    .nav-link::after{
        content:'';
        width: 0%;
    }
    .nav-link:hover::after{
        width: 0%;
    }
    html{
        scroll-padding: 3.9rem;
    }
    .collapse{
        height: 100vh;
        background-color: transparent;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        /* justify-content:center; */
        margin: auto;
        height: 100%;
        padding-top: 50%;
    }
    .nav-link{
        padding: 2px 50px;
        margin: 10px 0px;
    }
    .service-icon{
        font-size: 30px;
        margin-bottom: 12px;
    }
    .project{
        margin: 10px 0px;
    }
    
}
@media screen and (min-width:901px) and (max-width:991px){
    .nav-link::after{
        content:'';
        width: 0%;
    }
    .nav-link:hover::after{
        width: 0%;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        /* justify-content:center; */
        margin: auto;
        height: 100%;
        padding-top: 20%;
    }
    .nav-link{
        padding: 2px 50px;
        margin: 10px 0px;
        font-size: 30px;
    }
    .collapse{
        height: 100vh;
        background-color: transparent;
    }
    .card{
        margin:12px 0px
    }
    .card-row2{
        margin-top: 0px;
    }
    .project{
        margin: 12px 0px;
    }
}